In [ ]:
#Fatemeh_Mokaryzadeh

In [2]:
#1
numbers=[]
for i in range(10,100):
    if i % 7 == 0:
        numbers.append(i)
    else:
        pass
print(numbers)

[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [4]:
#2
numbers=[]

for i in range(10,100):
    if i % 7 == 0:
        numbers.append(i)
        if i%5 == 0:
            numbers.remove(i)
            
print(numbers)

[14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98]

In [6]:
#3
num=0
for i in range(5):
    for j in range(4):
        num += 1
        print(f"{num:2}", end=" ")
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12
13 14 15 16
17 18 19 20

In [8]:
#4
import random
password= random.sample(range(10),8)
                       
print(f"password is ' {''.join(map(str, password))} '")

password is ' 93728154 '

In [10]:
#5
first_num=0
second_num=1
fib=int(input("enter a number: "))
if fib<=0:
    print("None")
if fib==1:
    print (first_num , second_num)   
if fib>1:
    print(first_num,end=",")
    print(second_num,end=",")
    for i in range (2,fib+1):
        next_fib= first_num + second_num
        print(next_fib,end=",")
        first_num=second_num
        second_num=next_fib

enter a number:  12

0,1,1,2,3,5,8,13,21,34,55,89,144,

In [12]:
#6
from datetime import datetime
birthday=str(input("please enter your birthday '(like : 1384-03-25)'  ")) 
birth_date = datetime.strptime(birthday, "%Y-%m-%d")
now = datetime.now()
time_lived = now - birth_date
seconds = time_lived.total_seconds()
hours = int(seconds // 3600)
minutes = int((seconds % 3600) // 60)
remaining_seconds = int(seconds % 60)
print(f"you have lived for {hours} hours and {minutes} minutes and  {remaining_seconds} second ")

please enter your birthday '(like : 1384-03-25)'   2005-6-15

you have lived for 174429 hours and 15 minutes and  25 second

In [14]:
#7
from datetime import datetime
now = datetime.now()
year = float(input("in what year were you born ? "))
age= int(now.year - year)
second=age * 3.165e7
print(second)

in what year were you born ?  2005

633000000.0

In [20]:
#8
numbers=[]
for i in range (1,21):
    numbers. append(i**2)
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [22]:
#9
my_dict={'A':12,'B':56, 'C': -22, 'D':78}
min_key = min(my_dict, key=my_dict.get)
minimum = my_dict[min_key]
max_key = max(my_dict, key=my_dict.get)
maximum= my_dict[max_key]
print(f"maximum value is {maximum} and minimum value is {minimum}")

maximum value is 78 and minimum value is -22

In [24]:
#10
my_dict={'A':21,'B':6, 'C': 67, 'D':58}
x=1
for i in my_dict.values():
     y=x*i
     x=y
print (x)

489636